---
---

<header class="flex justify-center">
  <!-- Container -->
  <div
    class="w-full lg:w-[960px] h-[88px] px-2 lg:px-0 flex items-center justify-between"
  >
    <!-- Title -->
    <div class="flex items-center gap-2">
      <a href="https://tinytengu.github.io" target="_blank"
        ><img src="/blog/logo.svg" class="w-[40px]" />
      </a>
      <a href={`${import.meta.env.BASE_URL}`}>
        <h3 class="font-bold text-2xl">/ blog</h3>
      </a>
    </div>
    <!-- Copyright -->
    <p class="opacity-50 text-sm">&copy; tinytengu, 2022</p>
  </div>
</header>
